* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: #EDE8F5;
}

body {
    background: #272727;
    width: 1100px;
    margin: auto;
}

div {
    background-color: #024950;
}

button {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    background-color: #964734;
    font-weight: bold;
    margin-bottom: 50px;
}

button:hover {
    background-color: hsl(12, 49%, 50%);
    cursor: pointer;
}

.working {
    background-color: grey;
}

.working:hover {
    background-color: grey;
    cursor: auto;
}

#top-div {
    margin-top: 100px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

h1 {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    margin-top: 15px;
    color: white;
}

p > strong {
    color: white;
}

.container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#projects-header {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    width: 400px;
}

#current-study {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    width: 800px;
    background-color: #272727;
}

.invis-container {
    background-color: #272727;
    height: auto;
    margin-bottom: 10px;
}

#project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-header {
    margin-top: 100px;
}

#skill-section {
    display: flex;
    justify-content: space-evenly;
}

.skill-header {
    margin-top: 50px;
    width: 450px;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.skill-box {
    background-color: #272727;
    padding: 5px 15px;
}